<div class="col-md-6 col-md-offset-3">
  <%= form_for @pull_request do |f| %>
    <div class="col-md-10 row">
      <%= f.text_field :url, class: "form-control",
        placeholder: "Paste url's new pull request here..." %>
    </div>
    <div class="col-md-2 row">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="col-md-12">
  <h2 class="text-center">List of your pull requests</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>URL</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Action</th>
        <th>Reviewer</th>
      </tr>
    </thead>
    <tbody>
      <% if @pull_requests.any? %>
        <% @pull_requests.each_with_index do |pull_request, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= pull_request.url %></td>
            <td><%= pull_request.status %></td>
            <td><%= l pull_request.created_at, format: :long %></td>
            <td>
              <%= link_to pull_request_path(pull_request, status: :merge), class: "btn btn-success", method: :patch do %>
                merge
              <% end %>
              <%= link_to pull_request_path(pull_request, status: :close), class: "btn btn-default", method: :patch do %>
                close
              <% end %>
              <%= link_to pull_request_path(pull_request, status: :reopen), class: "btn btn-warning", method: :patch do %>
                reopen
              <% end  %>
            </td>
            <td>
              <% if pull_request.reviewer_id %>
                <%= pull_request.reviewer_id %>
              <% else %>
                N/A
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
