<% provide :title, "List of your pull requests" %>

<div>
  <div class="col-md-8">
    <h2 class="text-center">List of your pull requests</h2>
    <div class="stats">
      <div class="col-md-2">
        <div class="row">
          <span class="amount">
            Total: <%= number_with_delimiter @support.total_pull_requests, delimiter: "." %>
          </span>
        </div>
      </div>
      <div class="col-md-10 detail-stats">
        <div class="row">
          <span class="ready">ready: <%= @support.ready_pulls_size %></span>
          <span class="reviewing">reviewing: <%= @support.reviewing_pulls_size %></span>
          <span class="commented">commented: <%= @support.commented_pulls_size %></span>
          <span class="conflicted">conflicted: <%= @support.conflicted_pulls_size %></span>
          <span class="closed">closed: <%= @support.closed_pulls_size %></span>
          <span class="merged">merged: <%= number_with_delimiter @support.merged_pulls_size, delimiter: "." %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h4>The most active memebers this month <%= image_tag "buoyant.gif" %></h4>
      <div class="active-members">
        <% @support_user.active_members.each do |user| %>
          <p>
            <%= image_tag "flower.gif" %>
            <span class="username"><%= user.name %></span>
            <% if user.office_name %>
              - <%= user.office_name %>
            <% end %>
            <span class="merged"><%= user.merged_pulls_size %></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="index">#</th>
      <th>URL</th>
      <th>Repository</th>
      <th class="status">Status</th>
      <th class="datetime">Created At</th>
      <th class="datetime">Updated Time</th>
    </tr>
  </thead>
  <tbody>
    <% @pull_requests.each_with_index do |pull_request, index| %>
      <tr>
        <td>
          <%= index_for params[:page] || 1, index, Settings.pull_request.per_page %>
        </td>
        <td>
          <%= link_to pull_request.url_files, pull_request.url_files, target: "_blank" %>
        </td>
        <td><%= pull_request.repository_name %></td>
        <td>
          <span class="<%= pull_request.status %>"><%= pull_request.status %></span>
        </td>
        <td><%= l pull_request.created_at, format: :long %></td>
        <td><%= time_ago_in_words pull_request.updated_at %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @pull_requests, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm" %>
</div>
