<div class="col-md-6 col-md-offset-3">
  <%= form_for @pull_request do |f| %>
    <div class="row">
      <div class="col-md-10">
        <%= f.text_field :url, class: "form-control", required: true,
          placeholder: "Paste url's new pull request here..." %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="col-md-12">
  <h2 class="text-center">List of your pull requests</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>URL</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Action</th>
        <th>Latests Reviewer</th>
      </tr>
    </thead>
    <tbody>
      <% if @pull_requests.any? %>
        <% @pull_requests.each_with_index do |pull_request, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to pull_request.url, pull_request.url, target: "_blank" %></td>
            <td><%= pull_request.status %></td>
            <td><%= l pull_request.created_at, format: :long %></td>
            <td><%= l pull_request.updated_at, format: :long %></td>
            <td>
              <% if pull_request.status != "merged" %>
                <% if current_user.stage == "tutorial" %>
                  <%= link_to pull_request_path(pull_request, status: :merge),
                    class: "btn btn-success", method: :patch do %>
                    merge
                  <% end %>
                <% end %>
                <% if pull_request.status == "ready" %>
                  <%= link_to pull_request_path(pull_request, status: :close),
                    class: "btn btn-default", method: :patch do %>
                    close
                  <% end %>
                <% end %>
                <% if pull_request.status == "commented" ||
                  pull_request.status == "conflicted" ||
                  pull_request.status == "closed" %>
                  <%= link_to pull_request_path(pull_request, status: :ready),
                    class: "btn btn-warning", method: :patch do %>
                    ready
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if pull_request.reviewer %>
                <%= pull_request.reviewer %>
              <% else %>
                N/A
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
