<% provide :title, "Update your information" %>

<div class="col-md-4 col-md-offset-4">
  <h2 class="text-center">Update your information</h2>
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :github_account, "Github account" %>
      <%= f.text_field :github_account, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :chatwork_id, "Chatwork account ID" %>
      <%= f.text_field :chatwork_id, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :chatwork_room_id, "Chatwork room ID" %>
      <%= f.text_field :chatwork_room_id, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :office_id, "Office" %>
      <%= f.select :office_id, options_for_select(@offices
        .collect{|office| [office.name, office.id]}, @user.office_id),
        {include_blank: Settings.user.office_choice.blank_value}, class: "form-control" %>
    </div>

    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
