<div class="col-md-6 col-md-offset-3">
  <h2 class="text-center">User's Information</h2>

  <table class="table table-stripe table-hover">
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td>Account type</td>
        <td>
          <span class="<%= current_user.role %>"><%= current_user.role %></span>
        </td>
      </tr>
      <tr>
        <td>Number of pull requests</td>
        <td><%= current_user.pull_requests.size %></td>
      </tr>
    </tbody>
  </table>
</div>
