<% provide :title, "Your Profile" %>

<div class="col-md-4 col-md-offset-4">
  <h2 class="text-center">Your Profile</h2>

  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td>Account type</td>
        <td>
          <span class="<%= current_user.role %>"><%= current_user.role %></span>
        </td>
      </tr>
      <tr>
        <td>Number of pull requests</td>
        <td><%= current_user.pull_requests.size %></td>
      </tr>
      <tr>
        <td>Office</td>
        <td>
          <% if current_user.office_name %>
            <%= current_user.office_name %>
          <% else %>
            <span class="non-office-user">N/A</span>
            <%= link_to edit_user_path do %>
              <span class="glyphicon glyphicon-hand-right"></span> update your office
            <% end %>
          <% end %>
        </td>
      </tr>
      <% if current_user.trainer? || current_user.admin? %>
        <tr>
          <td>API Key</td>
          <td>
            <%= current_user.oauth_token %>
            <%= form_for current_user do |f| %>
              <%= f.hidden_field :oauth_token, value: User.generate_unique_secure_token %>
              <button class="btn commented" type="submit">Generate Api Key</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
