<div class="panel panel-default">
  <div class="panel-heading">
    <h4>The most active memebers this month <%= image_tag "buoyant.gif" %></h4>
  </div>
  <div class="panel-body">
    <div class="active-members">
      <% @support_user.active_members.each do |user| %>
        <p>
          <%= image_tag "flower.gif" %>
          <span class="username"><%= user.name %></span>
          <% if user.office_name %>
            - <%= user.office_name %>
          <% end %>
          <span class="merged"><%= user.merged_pulls_size %></span>
        </p>
      <% end %>
    </div>
  </div>
</div>
