<% provide :title, "Manage Pull Requests" %>

<div class="items-overview">
  <h2 class="text-center">Manage Pull Requests</h2>
  <div class="col-md-8">
    <div class="stats admin-pull-requests-stat">
      <%= render "stat", support: @support, offices: @offices %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h4>The most active memebers this month <%= image_tag "buoyant.gif" %></h4>
      <div class="active-members">
        <% @support_user.active_members.each do |user| %>
          <p>
            <%= image_tag "flower.gif" %>
            <span class="username"><%= user.name %></span>
            <% if user.office_name %>
              - <%= user.office_name %>
            <% end %>
            <span class="merged"><%= user.merged_pulls_size %></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="admin-pull-requests-table">
  <%= render "pull_requests" %>
</div>
