<% provide :title, "Manage Pull Requests" %>

<div class="items-overview">
  <h2 class="text-center">Manage Pull Requests</h2>
  <div class="col-md-8">
    <div class="stats admin-pull-requests-stat">
      <div class="col-md-12">
        <div class="row">
          <%= form_tag admin_pull_requests_path, method: :get, remote: true do %>
            <%= render "search_form" %>

            <div class="statistics">
              <%= render "stat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <%= render "active_member" %>
    </div>
  </div>
</div>

<div class="admin-pull-requests-table">
  <%= render "pull_requests" %>
</div>
