<% provide :title, "Manage Pull Requests" %>

<h2 class="text-center">Manage Pull Requests</h2>
<p class="amount">Number of items: <%= @pull_requests_size %></p>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="index">#</th>
      <th>Url</th>
      <th>Created By</th>
      <th class="datetime">Created At</th>
      <th class="datetime">Updated At</th>
      <th class="status">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @pull_requests.each_with_index do |pull_request, index| %>
      <tr>
        <td>
          <%= index_for params[:page] || 1, index, Settings.admin.pull_request.per_page %>
        </td>
        <td>
          <%= link_to pull_request.url_files, pull_request.url_files, target: "_blank" %>
        </td>
        <td><%= pull_request.user_name %></td>
        <td><%= l pull_request.created_at, format: :long %></td>
        <td><%= l pull_request.updated_at, format: :long %></td>
        <td class="pull-status">
          <% if pull_request.ready? %>
            <%= form_for [:admin, pull_request] do |f| %>
              <%= f.hidden_field :status, value: :reviewing %>
              <span role="button" class="ready">
                <%= pull_request.status %>
              </span>
            <% end %>
          <% else %>
            <span class="<%= pull_request.status %>"><%= pull_request.status %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @pull_requests, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm" %>
</div>
