<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image avatar is-md-avatar">
          <img src="<%= image_url('icon256.png') %>" />
        </figure>
      </div>
      <div class="media-content">
        <div>
          <%= link_to item.url_files, item.url_files, targe: "_blank", class: "is-6 fw-bold mb-0 pr" %>
        </div>
        <div>
          <small><strong><%= item.user_name %></strong></small>
          <small><%= item.user_github_account %></small>
          <small>&nbsp;&nbsp;&nbsp;&nbsp;<%= time_ago_in_words item.updated_at %> ago</small>
        </div>
      </div>
      <div class="media-right has-text-left">
        <span data-status="<%= item.status %>" data-id="<%= item.id %>" data-href="<%= item.url_files %>" class="pr <%= item.status %>">
          <%= item.status %>
        </span>
      </div>
    </div>
  </div>
</div>
