<tr>
  <td>
    <%= index_for params[:page] || 1, index, Settings.admin.office.per_page %>
  </td>
  <td>
    <%= link_to office.name, admin_office_path(office), class: "btn-show-office",
      data: {toggle: "modal", target: "#prts-modal", backdrop: "static"} %>
  </td>
  <td><%= office.users.size %></td>
  <td><%= total_pull_requests office %></td>
  <td><%= office.address %></td>
  <% if current_user.admin? %>
    <td>
      <%= link_to edit_admin_office_path(office), title: "Edit",
        class: "btn btn-warning btn-xs btn-edit-office",
        data: {toggle: "modal", target: "#prts-modal", backdrop: "static"} do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
      <%= link_to admin_office_path(office), method: :delete, title: "Delete",
        class: "btn btn-danger btn-xs", data: {confirm: "Are you sure?"} do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </td>
  <% end %>
</tr>
