<% provide :title, "Manage Offices" %>

<h2 class="text-center">Manage Offices</h2>
<div>
  <% if current_user.admin? %>
    <div class="col-md-2">
      <div class="row">
        <%= link_to new_admin_office_path, class: "btn btn-primary btn-sm" do %>
          <span class="glyphicon glyphicon-plus"></span> New Office
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="row non-office-users">
      Number of non-office users: <%= @support_user.number_of_non_office_users %>
    </div>
  </div>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="index">#</th>
      <th>Name</th>
      <th>Users</th>
      <th>Pull Requests</th>
      <th>Address</th>
      <% if current_user.admin? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @offices.each_with_index do |office, index| %>
      <tr>
        <td>
          <%= index_for params[:page] || 1, index, Settings.admin.office.per_page %>
        </td>
        <td><%= link_to office.name, admin_office_path(office) %></td>
        <td><%= office.users.size %></td>
        <td><%= total_pull_requests office %></td>
        <td><%= office.address %></td>
        <% if current_user.admin? %>
          <td>
            <%= link_to edit_admin_office_path(office), title: "Edit",
              class: "btn btn-warning btn-xs" do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>
            <%= link_to admin_office_path(office), method: :delete, title: "Delete",
              class: "btn btn-danger btn-xs", data: {confirm: "Are you sure?"} do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @offices, left: 2, right: 3, theme: "twitter-bootstrap-4",
    pagination_class: "pagination-sm" %>
</div>
