<% provide :title, "Edit User" %>

<div class="col-md-6 col-md-offset-3">
  <div>
    <%= link_to admin_users_path, class: "btn btn-info btn-xs", title: "Go back" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> All users
    <% end %>

    <%= link_to admin_user_path(@user), class: "btn btn-default btn-xs pull-right", title: "View user" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
  </div>

  <h2 class="text-center">Edit User</h2>

  <%= form_for [:admin, @user] do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: "form-control", required: true, placeholder: "Name" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "form-control", required: true, placeholder: "Email" %>
    </div>

    <div class="form-group">
      <%= f.label :office_id, "Office" %>
      <%= f.select :office_id, options_for_select(@offices
        .collect{|office| [office.name, office.id]}, @user.office_id),
        {include_blank: Settings.admin.user.office_choice.blank_value}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :role %>
      <div class="role-select">
        <%= f.select :role, options_for_select(User.roles.keys, @user.role), {},
          class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
