<% provide :title, "Manage Users" %>

<h2 class="text-center">Manage Users</h2>
<p>
  <%= link_to new_admin_user_path, class: "btn btn-primary btn-sm" do %>
    <span class="glyphicon glyphicon-plus"></span> New User
  <% end %>
</p>

<div class="stats">
  <div class="col-md-2 row">
    <span class="amount">Total: <%= @support.total_users %></span>
  </div>

  <div class="col-md-8 detail-stats">
    <span class="reviewing">admin: <%= @support.number_of_admins %></span>
    <span class="commented">trainer: <%= @support.number_of_trainers %></span>
    <span class="conflicted">normal: <%= @support.number_of_normal_users %></span>
  </div>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="index">#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Github Account</th>
      <th>Office</th>
      <th>Number of Pull requests</th>
      <th class="role">Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td>
          <%= index_for params[:page] || 1, index, Settings.admin.user.per_page %>
        </td>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.github_account %></td>
        <td><%= user.office_name.present? ? user.office_name : "N/A" %></td>
        <td><%= user.pull_requests.size %></td>
        <td><span class="<%= user.role %>"><%= user.role %></span></td>
        <td>
          <%= link_to edit_admin_user_path(user), title: "Edit",
            class: "btn btn-warning btn-xs" do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <% unless current_user?(user) && current_user.admin? %>
            <%= link_to admin_user_path(user), method: :delete, title: "Delete",
              class: "btn btn-danger btn-xs", data: {confirm: "Are you sure?"} do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @users, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm" %>
</div>
