<h2 class="text-center">Manage Users</h2>
<%= link_to "New User", new_admin_user_path, class: "btn btn-primary" %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tbody>
        <td>
          <% params[:page] ||= "1" %>
          <%= index_for params[:page], index, Settings.admin.user.per_page %>
        </td>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-warning" %>
          <% unless current_user?(user) && current_user.admin? %>
            <%= link_to "Delete", admin_user_path(user), method: :delete,
              class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
          <% end %>
        </td>
      </tbody>
    <% end %>
  </tbody>
</table>
