<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Pull Requests Tracking System", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to Settings.user_guide, target: :_blank do %>
            <span class="glyphicon glyphicon-book"></span> User Guide
          <% end %>
        </li>
        <% if logged_in? %>
          <% if current_user.admin? || current_user.trainer? %>
            <% if current_user.admin? %>
              <li>
                <%= link_to new_admin_message_path do %>
                  New Messge
                <% end %>
              </li>
              <li>
                <%= link_to admin_chatrooms_path do %>
                  <span class="glyphicon glyphicon-comment"></span> Chatrooms
                <% end %>
              </li>
              <li>
                <%= link_to admin_offices_path do %>
                  <span class="glyphicon glyphicon-map-marker"></span> Offices
                <% end %>
              </li>
              <li>
                <%= link_to admin_users_path do %>
                  <span class="glyphicon glyphicon-magnet"></span> Users
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to admin_pull_requests_path do %>
                <span class="glyphicon glyphicon-list-alt"></span> Pull Requests
              <% end %>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Hi, <%= current_user.name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to edit_user_path(current_user) do %>
                  <span class="glyphicon glyphicon-cog"></span> Config
                <% end %>
              </li>
              <li>
                <%= link_to current_user do %>
                  <span class="glyphicon glyphicon-user"></span> Profile
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to logout_path, method: :delete do %>
                  <span class="glyphicon glyphicon-off"></span> Logout
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
