<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag "icon256.png" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= render "shared/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
